*.gzip
*.zip
*.raw
*.DS_Store
*.xlsx
.snakemake/
.vscode/
data/*
results/*
resources/*
!GNPSExport.ini
!data/.gitkeep
!resources/ThermoRawFileParser/README.md
!resources/Sirius/README.md
manualCLI/*
!results/GNPSexport/.gitkeep
!results/.gitkeep
metadatanotebook.ipynb
